In [9]:
a = input("enter a interger ")

enter a interger 30

In [10]:
type(a)

str

In [11]:
type(input)

method

In [12]:
a = int(input("this is my var a "))
b = int(input("this is my var b "))
c = int(input("this is my var c "))
#o = a+b/c
#o1 = o + 78 + 6j
#str(o1) + "sudh"

this is my var a 12
this is my var b 15
this is my var c 18

In [13]:
o = a+b/c

In [14]:
print(o)

12.833333333333334

In [15]:
o1 = o + 78 + 6j

In [16]:
o1

(90.83333333333333+6j)

In [17]:
str(o1) + "sudh"

'(90.83333333333333+6j)sudh'

In [18]:
num1= int(input("enter first number "))
num2= int(input("enter second number "))

enter first number 11
enter second number 12

In [19]:
sum_num = num1 + num2
diff_num = num1 - num2
mult_num = num1 * num2
div_num = num1 / num2
mod_num = num1 % num2
quot_num = num1 // num2

In [24]:
print("Sum of two numbers",num1," and ",num2," is",sum_num)
print("Diff of two numbers",num1," and ",num2," is",diff_num)
print("Mult of two numbers",num1," and ",num2," is",mult_num)
print("Div of two numbers",num1," and ",num2," is",div_num)
print("Mod of two numbers",num1," and ",num2," is",mod_num)
print("Quot of two numbers",num1," and ",num2," is",quot_num)

Sum of two numbers 11  and  12  is 23
Diff of two numbers 11  and  12  is -1
Mult of two numbers 11  and  12  is 132
Div of two numbers 11  and  12  is 0.9166666666666666
Mod of two numbers 11  and  12  is 11
Quot of two numbers 11  and  12  is 0

# range function

In [25]:
range(10) ## print list of values from 0 to n-1

range(0, 10)

In [26]:
print(range(10))

range(0, 10)

In [27]:
list(range(10)) #print numbers from 0 to 9 (10-1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
list(range(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [31]:
list(range(3,10))  ##print numbers from 3 till 9

[3, 4, 5, 6, 7, 8, 9]

In [36]:
list(range(3,20,2)) #print numbers from 3 till 9 by skipping 1 numbers in between (step size-1)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [40]:
list(range(1,15))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [43]:
list(range(3,20,3)) #3 print numbers from 3 till 19 by skipping 2 numbers in between (step size-1)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [45]:
list(range(3, 45.87, 3)) ## range doesnt work on floating point numbers

TypeError: 'float' object cannot be interpreted as an integer

In [47]:
list(range(int(3.56),int(45.87),3))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42]

In [48]:
list(range(3,45,-3))   ##there is no syntax error but it will give an empty list

[]

In [49]:
list(range(45,3,-3))  ##can go backwards provided the starting number is bigger

[45, 42, 39, 36, 33, 30, 27, 24, 21, 18, 15, 12, 9, 6]

In [50]:
list(range(45,3,3))  ##there is no syntax error but it will give an empty list

[]

In [51]:
list(range(-3,-45,-3))

[-3, -6, -9, -12, -15, -18, -21, -24, -27, -30, -33, -36, -39, -42]

In [54]:
list(range(-3,-45,3))

[]

In [57]:
list(range(-45,-3, 5))

[-45, -40, -35, -30, -25, -20, -15, -10, -5]

In [75]:
name =  "INDIA  "

In [76]:
type(name)

str

In [77]:
len_name = len(name)

In [78]:
print(len_name)

7

In [79]:
list(range(len_name))

[0, 1, 2, 3, 4, 5, 6]

In [80]:
list_items = []  #square bracket stands for list

In [81]:
print(list_items)

[]

In [86]:
list_items = ["hello",55,67.53,"a",45,"anand","India",34.567,98,True,False, 56+6j]  ##list of items

In [87]:
print(list_items)

['hello', 55, 67.53, 'a', 45, 'anand', 'India', 34.567, 98, True, False, (56+6j)]

In [89]:
len_list = len(list_items)

In [90]:
print(len_list)

12

In [94]:
list_items[6] ## accessing the 6th element

'India'

In [95]:
list_items[2:]  ##give all the items from 3rd onwards

[67.53, 'a', 45, 'anand', 'India', 34.567, 98, True, False, (56+6j)]

In [96]:
list_items[:] ## gives all the items

['hello',
 55,
 67.53,
 'a',
 45,
 'anand',
 'India',
 34.567,
 98,
 True,
 False,
 (56+6j)]

In [97]:
list_items[:4]

['hello', 55, 67.53, 'a']

In [98]:
list_items[3:7]

['a', 45, 'anand', 'India']

In [99]:
list_items[5:23]

['anand', 'India', 34.567, 98, True, False, (56+6j)]

In [102]:
list_items[23]

IndexError: list index out of range

In [103]:
list_items

['hello',
 55,
 67.53,
 'a',
 45,
 'anand',
 'India',
 34.567,
 98,
 True,
 False,
 (56+6j)]

In [104]:
list_items[::-1]  #reversal of elements inside a list

[(56+6j),
 False,
 True,
 98,
 34.567,
 'India',
 'anand',
 45,
 'a',
 67.53,
 55,
 'hello']

In [105]:
list_items[2:9:2]

[67.53, 45, 'India', 98]

In [110]:
[1,2,36.45,"FSDS"] + "ANAND"

TypeError: can only concatenate list (not "str") to list

In [108]:
[1,2,36.45,"FSDS"] + [23,45,"HELLO"] ##list should be concatenated with list only

[1, 2, 36.45, 'FSDS', 23, 45, 'HELLO']

# Append function

In [111]:
list_items

['hello',
 55,
 67.53,
 'a',
 45,
 'anand',
 'India',
 34.567,
 98,
 True,
 False,
 (56+6j)]

In [112]:
print(list_items) #either aabove or this both will give you same output

['hello', 55, 67.53, 'a', 45, 'anand', 'India', 34.567, 98, True, False, (56+6j)]

In [113]:
name = "full stack data analytics"

In [114]:
type(name)

str

In [117]:
name[len(name)-2]

'c'

In [118]:
name[len(name)-2] = "m" ## strings are immutable in python i.e you cannot change the content

TypeError: 'str' object does not support item assignment

In [119]:
#34 then how to make it mutable ? thats the HW for you

In [120]:
list_items

['hello',
 55,
 67.53,
 'a',
 45,
 'anand',
 'India',
 34.567,
 98,
 True,
 False,
 (56+6j)]

In [130]:
list_items.append("Ankita sharma")  ##adding items at the end of the list

In [131]:
list_items

['hello',
 55,
 67.53,
 'a',
 45,
 'anand',
 'India',
 34.567,
 98,
 True,
 False,
 (56+6j),
 'Ankita Gupta',
 'Ankita Gupta',
 'Ankita Gupta',
 'Ankita Gupta',
 'Ankita sharma',
 'Ankita sharma']

In [132]:
list_items.append("Abhishek",45,56.76)

TypeError: list.append() takes exactly one argument (3 given)

In [133]:
list_items.append(["Abhishek",[45,55], 45,56.76])

In [135]:
list_items

['hello',
 55,
 67.53,
 'a',
 45,
 'anand',
 'India',
 34.567,
 98,
 True,
 False,
 (56+6j),
 'Ankita Gupta',
 'Ankita Gupta',
 'Ankita Gupta',
 'Ankita Gupta',
 'Ankita sharma',
 'Ankita sharma',
 ['Abhishek', 45, 56.76]]

In [153]:
list_items[12][3]

'i'

In [154]:
list_items.append("True")

In [155]:
list_items

['hello',
 55,
 67.53,
 'a',
 45,
 'anand',
 'India',
 34.567,
 98,
 True,
 False,
 (56+6j),
 'Ankita Gupta',
 'Ankita Gupta',
 'Ankita Gupta',
 'Ankita Gupta',
 'Ankita sharma',
 'Ankita sharma',
 ['Abhishek', 45, 56.76],
 'True']

In [158]:
list_items[12][7]

'G'

In [164]:
list_items[18][0]

'Abhishek'

In [165]:
list_items[18][0][2]

'h'

In [167]:
list_items.append(["Abhi",[45,55], 45,6])

In [168]:
list_items

['hello',
 55,
 67.53,
 'a',
 45,
 'anand',
 'India',
 34.567,
 98,
 True,
 False,
 (56+6j),
 'Ankita Gupta',
 'Ankita Gupta',
 'Ankita Gupta',
 'Ankita Gupta',
 'Ankita sharma',
 'Ankita sharma',
 ['Abhishek', 45, 56.76],
 'True',
 ['Abhi', [45, 55], 45, 6]]

# Insert function

In [169]:
list_items.insert(2,"INDIA") #INSERT AT 3RD POSITION

In [171]:
print(list_items)

['hello', 55, 'INDIA', 67.53, 'a', 45, 'anand', 'India', 34.567, 98, True, False, (56+6j), 'Ankita Gupta', 'Ankita Gupta', 'Ankita Gupta', 'Ankita Gupta', 'Ankita sharma', 'Ankita sharma', ['Abhishek', 45, 56.76], 'True', ['Abhi', [45, 55], 45, 6]]

In [172]:
list_items.insert(5,"Vaishnavi") ##other elements gets shifted

In [173]:
print(list_items)

['hello', 55, 'INDIA', 67.53, 'a', 'Vaishnavi', 45, 'anand', 'India', 34.567, 98, True, False, (56+6j), 'Ankita Gupta', 'Ankita Gupta', 'Ankita Gupta', 'Ankita Gupta', 'Ankita sharma', 'Ankita sharma', ['Abhishek', 45, 56.76], 'True', ['Abhi', [45, 55], 45, 6]]

In [174]:
list_items.insert(1,["Raj",'Yash',98.76]) ##other elements gets shifted

In [175]:
print(list_items)

['hello', ['Raj', 'Yash', 98.76], 55, 'INDIA', 67.53, 'a', 'Vaishnavi', 45, 'anand', 'India', 34.567, 98, True, False, (56+6j), 'Ankita Gupta', 'Ankita Gupta', 'Ankita Gupta', 'Ankita Gupta', 'Ankita sharma', 'Ankita sharma', ['Abhishek', 45, 56.76], 'True', ['Abhi', [45, 55], 45, 6]]

In [176]:
list_items[1][1] ##to check elements present list inside list

'Yash'